@font-face {
  font-family: 'Montserrat';
  src: local('MyFont'), url(../fonts/Montserrat-Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MyFont'), url(../fonts/Montserrat-SemiBold.ttf) format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MyFont'), url(../fonts/Montserrat-SemiBold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nbr4qe');
  src:  url('../fonts/icomoon.eot?nbr4qe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nbr4qe') format('truetype'),
    url('../fonts/icomoon.woff?nbr4qe') format('woff'),
    url('../fonts/icomoon.svg?nbr4qe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --white: #ffffff;
  --lynx-white: #f7f7f7;
  --silver: #c0c0c0;
  --nobel: #999999;
  --orange-peel: #ff9f1c;
  --mellow-apricot: #ffbf69;
  --ming: #16697a;
  --pacific-blue: #489fb5;
  --fire-opal: #ee6055;

  --body-bg: var(--ming);
  --header-bg: var(--pacific-blue);
  --app-bg: var(--lynx-white);  

  --app-shadow: var(-1px 9px 18px -5px rgba(5,27,31,0.5));
  --task-shadow: var(-2px 11px 18px -16px rgba(0,0,0,0.75));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
  background-color: var(--body-bg);
  height: 100vh;   
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;    
  overflow: auto;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}

#root {
  padding: 0 15px;
}